* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

body {
  background-image: linear-gradient(to bottom right, #f5f7fa, #c3cfe2);
  background-repeat: no-repeat;
  min-height: 100vh;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background: white;
  border-radius: 20px;
  padding: 30px;
  width: 90%;
  max-width: 500px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.1);
  text-align: center;
}

header {
  background: #4caf50;
  padding: 20px;
  border-radius: 15px;
  color: white;
  margin-bottom: 20px;
}

.first-img img {
  width: 100px;
  margin: 15px 0;
}

.input-section {
  margin: 20px 0;
}

.input-section input {
  padding: 10px;
  margin: 10px 5px;
  width: 42%;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.input-section button {
  padding: 10px 20px;
  background: #2196f3;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 10px;
}

.input-section button:hover {
  background: #1976d2;
}


.input-guide {
  margin-top: 20px;
  margin-bottom: 10px;
}

.input-guide h3 {
  color: #333;
  font-size: 1.2rem;
}

.input-guide p {
  font-size: 0.95rem;
  color: #666;
}


.expense-list {
  margin: 25px 0;
  text-align: left;
}

.expense-list h2 {
  margin-bottom: 10px;
}

.expense-list ul {
  list-style-type: none;
  padding: 0;
}

.expense-list li {
  background: #e8f5e9;
  margin: 10px 0;
  padding: 12px;
  border-left: 5px solid #4caf50;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.05);
  display: flex;
  justify-content: space-between;
}

.summary {
  margin-top: 25px;
}

.summary h2 {
  font-size: 1.4rem;
}

.wallet-img {
  width: 60px;
  margin-top: 10px;
}

footer {
  margin-top: 20px;
  font-size: 0.85rem;
  color: #777;
}
